@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-family: "Anton", sans-serif;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Nunito;
    /* border: red solid; */
}

.bgimg {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-image: url("Assets/SignUp.png") !important; */
}

.bgimg-img {
    height: 100%;
    width: 100%;
}

.containerall {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38vw;
    width: 30vw;
    border-radius: 4vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-left: 13vw;
    border: none;
    background-color: #395474;
}

.alertContainer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 1.8vw;
    margin-top: 0.7vw;
    padding-left: 2vw;
    padding-right: 2vw;
    /* border: cyan solid; */
}

.alertContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 2.5vw;
    margin-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    /* border: cyan solid; */
}

.section1 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    margin-top: 2.8vw;
    margin-bottom: 0.8vw;
    color: white;
    /* border: yellow solid; */
}

.judul {
    font-size: 2.2vw;
    text-align: center;
    justify-content: center;
    margin-bottom: 1.2vw;
    font-weight: 700;
}

.formAuth1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.1vw 1.1vw 0.55vw 1.1vw;
    /* border: orange solid; */
}

.boxPN {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5vw;
    margin-bottom: 1.5vw;
    /* border: purple solid; */
}

.captchaContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 6.2vw;
    margin-bottom: 0.75vw;
    /* border: pink solid; */
}

.keteranganPN {
    font-size: 1.25vw;
    text-align: left;
    font-weight: 600;
    /* border: red solid; */
}

.formPNV1 {
    font-size: 1.2vw;
    width: 15vw;
    padding-left: 0.75vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    border-radius: 1vw;
}

.formPNV2 {
    font-size: 1.2vw;
    width: 15vw;
    padding-left: 0.75vw;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    border-radius: 1vw;
    background-color: #708399;
    color: white;
}

.formPNV2::placeholder {
    color: white;
}

.btn-successSend {
    font-size: 1.1vw;
    border-radius: 0.4vw;
    color: white;
    background-color: #1b2f45 !important;
    height: 3vw;
    width: 8vw;
    margin-top: 0.5vw;
    border: none;
    cursor: pointer;
}

.btn-successSend:hover {
    font-weight: 600;
    background-color: #000000 !important;
}

.btn-successVerify {
    font-size: 1.1vw;
    border-radius: 0.4vw;
    color: white;
    background-color: #1b2f45 !important;
    height: 3vw;
    width: 9vw;
    border: none;
    cursor: pointer;
}

.btn-successVerify:hover {
    font-weight: 600;
    background-color: #000000 !important;
}

.section2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: green solid; */
}

.perintah {
    font-size: 1.25vw;
    text-align: left;
    width: 100%;
    padding-left: 2.3vw;
    margin-bottom: 0.75vw;
    font-weight: 600;
    /* border: red solid; */
}

.sub-section2 {
    display: flex;
    flex-direction: column;
}

.formAuth2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5vw;
    /* border: cyan solid; */
}
