.segment{
    width: 100%;
    height: 40vw;
}

.segmentA{
    width: 100%;
    height: 30vw;
}

#segmentTitle{
    width: 25%;
    height: 5vw;
    margin-top: 8vw;
    background-color: #49596A;
    transition-duration: 300ms;
}

#segmentTitleA{
    width: 25%;
    height: 5vw;
    margin-top: 8vw;
    background-color: #49596A;
    transition-duration: 300ms;
}

.segment:hover > #segmentTitle {width: 50%; background-color: #1B2F45;}
.segmentA:hover > #segmentTitleA {width: 50%; background-color: #1B2F45;}

.upcomingxtra{
    width: 15vw;
    height: 20vw;
    background-color: #395474;
    margin-left: 2.7vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
}

.upcomingxtra .logo{
    display: flex;
    flex-direction: column;
    height: 8.75vw;
}

.upcomingxtra .photo img{
    position: absolute;
    width: 15vw;
    height: 4.375vw;
    border-radius: 2vw 2vw 0 0;
    margin-bottom: 4.375vw;
}

.upcomingxtra .logoxtra img{
    position: absolute;
    margin-top: 0.75vw;
    margin-left: 3.75vw;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
}

.upcomingxtra .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 2.5vw;
    background-color: #D3F1FF;
}

.upcomingxtra .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8.75vw;
    border-radius: 0 0 2vw 2vw;
}

.upcomingxtra:hover{
    transform: scale(1.1);
}

/* class xtra */
.xtra{
    width: 15vw;
    height: 20vw;
    background-color: white;
    border-color: black;
    border-width: 0.2vw;
    margin-left: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xtra:hover{
    transform: scale(1.1);
}

.xtralogo img{
    margin-top: 3vw;
    min-width: 10vw;
    min-height: 10vw;
    max-width: 10vw;
    max-height: 10vw;
    border-radius: 50%;
}

.viewall{
    position: absolute;
    font-size: 1.5vw;
    color: #0079FF;
    text-decoration: underline;
    margin-top: 2vw;
    margin-left: 92vw;
}

.viewall:hover{
    color: #395474;
}

.registernow{
    width: fit-content ;
    background-color:#D9D9D9;
    color: black;
}

.registernow:hover{
    color:red;
}

.checkreport{
    width: fit-content ;
    background-color:white;
    color: black;
}

.checkreport:hover{
    color:red;
}

/* #mail1{
    display: block;
}

#mail2{
    display: none;
}

#logo1{
    display: block;
}

#logo2{
    display: none;
}

#titleMail{
    display: none;
} */


