* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anton", sans-serif;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}

.batas {
    width: 100%;
    height: 100%;
    padding-top: 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: solid red; */
}

.boxfotoprofile {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* border: solid rgb(25, 0, 255); */
}

.boxluarfoto {
    width: 25vw;
    height: 28vw;
    border-radius: 2.1369212504946575vw;
    margin-top: 3.32409972299169vw;
    margin-bottom: 2.23189552829442vw;
    background-color: #f0fff3;
    padding-top: 2.5326474079936685vw;
    padding-bottom: 2.374356944994064vw;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: solid #59606d;
}

.boxluarfoto:hover .iconcamera {
    visibility: visible;
}

.fotoprofile {
    width: 25vw;
    height: 28vw;
}

.iconcamera {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background: #1f3d4738;
    border-radius: 2.1369212504946575vw;
    visibility: hidden;
    cursor: pointer;
}

.boxluarprofile {
    width: 65vw;
    height: 25vw;
    border-radius: 1vw;
    margin-top: 3.32409972299169vw;
    margin-bottom: 2.23189552829442vw;
    margin-left: 2.1vw;
    background-color: #e5e5e5;
    padding-top: 1vw;
    padding-bottom: 2.374356944994064vw;

    display: flex;
    flex-direction: column;
    /* align-items: center; */

    border: solid #59606d;
}

.boxidentitastempatsampah {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* border: red solid; */
}

.boxidentitas {
    flex: 0;
    line-height: 2;
    padding-left: 1.5vw;
    /* border: yellow solid; */
}

.formidentitas {
    font-size: 1.8vw;
    font-weight: 700;
}

.titikdua {
    flex: 0;
    line-height: 2;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    margin-right: 0.5vw;
    font-size: 1.8vw;
    /* border: green solid; */
}

.isiidentitas {
    flex: 2;
    line-height: 2;
    /* border: blue solid; */
}

.boxphoneedit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    /* border: red solid; */
}

.isiboxphoneedit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boxcheckcross {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.identitasnama,
.identitasNIP,
.identitasphone {
    font-size: 1.8vw;
}

.editphonenumbericon {
    fill: blue;
}

.editphonenumbericon:hover {
    fill: red;
}

.editphonenumbericonsubmit {
    fill: green;
    margin-left: 0.8vw;
}

.editphonenumbericoncancel {
    fill: red;
}

#phonetext {
    display: block;
}

#phoneinput {
    display: none;
}

.boxtempatsampah {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* border: purple solid; */
}

.icontempatsampah {
    width: 3vw;
    height: 3vw;
    margin-right: 0.8vw;
    cursor: pointer;
}

.spasi {
    height: 10vw;
    /* border: orange solid; */
}

.boxtombol {
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.75vw;
    padding-right: 1.75vw;
    /* border: cyan solid; */
}

/* ============================ untuk member: Request Leader Access!!! ============================ */

.boxtombol .request {
    height: 3.8vw;
    width: 17vw;
    font-size: 1.45vw;
    border: #1b2f45 solid;
    background-color: #1b2f45;
    border-radius: 0.5vw;
    color: #ffffff;
}

.boxtombol .request:hover {
    text-decoration: underline;
    background-color: #ffffff;
    color: black;
}

.requestdisable{
    height: 3.8vw;
    width: 17vw;
    font-size: 1.1vw;
    border: #49596A solid;
    background-color: #49596A;
    border-radius: 0.5vw;
    color: #ffffff;
}

/* ====================The Modal for Request Leader Access==================== */
.modalrequest {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 12.5vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentrequest {
    background-color: #fefefe;
    margin: auto;
    padding: 1.1vw 2.3vw 1.1vw 2.3vw;
    border: 0.052vw solid #888;
    /* width: 80%; */
    height: 23vw;
    width: 45vw;
    border-radius: 1.8vw;
    border: #1b2f45 0.3vw solid;
}

.kotakisimodal {
    display: flex;
    flex-direction: column;
    /* border: cyan solid; */
}

.boxjudulcloserequest {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.judulmodal {
    flex: 5;
    font-size: 1.5vw;
}

/* ====================The Modal for Log Out==================== */
.modallogout {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 5.3vw; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    z-index: 50;
}

/* Modal Content */
.modal-contentlogout {
    background-color: #fefefe;
    margin: auto;
    padding: 1.1vw 2vw 1.1vw 2vw;
    border: 0.052vw solid #888;
    /* width: 80%; */
    height: 15vw;
    width: 39.8vw;
    border-radius: 1.8vw;
    border: #1b2f45 0.2vw solid;
}

.kotakisimodal {
    display: flex;
    flex-direction: column;
    /* border: cyan solid; */
}

.boxjudulcloselogout {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 2.1vw;
}

.judulmodal {
    flex: 5;
    font-size: 1.5vw;
}

.isilogout {
    display: flex;
    flex-direction: column;
    gap: 0.15vw;
    height: 4.5vw;
    /* border: purple solid; */
}

.kalimatlogout1 {
    font-size: 1.6vw;
    font-weight: 600;
}

.kalimatlogout2 {
    font-size: 1.6vw;
    font-weight: 600;
}

/* ====================The Modal for Tempat Sampah==================== */
.modalsampah {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 5.3vw; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    z-index: 50;
}

/* Modal Content */
.modal-contentsampah {
    background-color: #fefefe;
    margin: auto;
    padding: 1.1vw 2vw 1.1vw 2vw;
    border: 0.052vw solid #888;
    /* width: 80%; */
    height: 15vw;
    width: 39.8vw;
    border-radius: 1.8vw;
    border: #1b2f45 0.2vw solid;
}

.kotakisimodal {
    display: flex;
    flex-direction: column;
    /* border: cyan solid; */
}

.boxjudulclosesampah {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 2.1vw;
}

.judulmodal {
    flex: 5;
    font-size: 1.5vw;
}

.isisampah {
    display: flex;
    flex-direction: column;
    gap: 0.15vw;
    height: 4.5vw;
    /* border: purple solid; */
}

.kalimatsampah1 {
    font-size: 1.6vw;
    font-weight: 600;
}

.kalimatsampah2 {
    font-size: 1.6vw;
    font-weight: 600;
}

/*===============================================================*/

/*===============================================================*/

.boxsubmitrequest {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* border: yellow solid; */
}

.boxsubmitlogout {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 2.5vw;
    gap: 2vw;
    /* border: yellow solid; */
}

.boxsubmitsampah {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 2.5vw;
    gap: 2vw;
    /* border: yellow solid; */
}

.btnsubmitmodal {
    font-size: 1.2vw;
    height: 2.4vw;
    width: 11vw;
    border-radius: 0.2vw;
    color: white !important;
    border: none;
    background-color: #1b2f45 !important;
}

.btnsubmitmodal:hover {
    font-weight: 700;
    color: white !important;
    background-color: black !important;
}

.btnyesmodal {
    font-size: 1.2vw;
    height: 2.4vw;
    width: 11vw;
    border-radius: 0.2vw;
    color: white;
    border: none;
    background-color: #398e20;
}

.btnyesmodal:hover {
    font-weight: 700;
    color: white;
    background-color: #155003;
}

.btncancelmodal {
    font-size: 1.2vw;
    height: 2.4vw;
    width: 11vw;
    border-radius: 0.2vw;
    color: black;
    border: none;
    background-color: #ff0000;
}

.btncancelmodal:hover {
    font-weight: 700;
    color: white;
    background-color: #6d0000;
}

/*  The Close Button  */
.closerequest {
    color: #aaaaaa;
    float: right;
    font-size: 3vw;
    color: #000;
    font-weight: bold;
}

.closerequest:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.closelogout {
    color: #aaaaaa;
    float: right;
    font-size: 2.8vw;
    color: #000;
    font-weight: bold;
}

.closelogout:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.closesampah {
    color: #aaaaaa;
    float: right;
    font-size: 2.8vw;
    color: #000;
    font-weight: bold;
}

.closesampah:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

/* ============================ untuk member!!! ============================ */

.boxtombol .logout {
    margin-left: auto;
    height: 2.8vw;
    width: 11vw;
    font-size: 1.3vw;
    border: none;
    border-radius: 0.5vw;
    background-color: #ff0000;
}

.boxtombol .logout:hover {
    background-color: #6d0000;
    font-weight: 700;
    color: white;
}

.boxstatus {
    width: 100%;
    height: 100%;
    padding-left: 3.55vw;

    display: flex;
    flex-direction: row;
    justify-content: left;

    /* border: 2px solid rgb(65, 204, 47); */
}

.boxstatus1 {
    height: 100%;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* border: 3px solid rgb(240, 0, 0); */
}

.boxstatus2member {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1.2vw;

    border: 0.15vw solid #797d81;
}

.boxstatus3member {
    height: 100%;
    font-size: 2vw;
    color: white;
    background-color: #797d81;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.35vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 5.8vw;
    padding-right: 5.8vw;
    border-radius: 1vw;

    /* border: 3px solid rgb(194, 204, 47); */
}

.boxstatus2leader {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1.2vw;

    border: 0.15vw solid #fff172;
}

.boxstatus3leader {
    height: 100%;
    font-size: 2vw;
    color: rgb(0, 0, 0);
    background-color: #fff172;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.35vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 5.8vw;
    padding-right: 5.8vw;
    border-radius: 1vw;

    /* border: 3px solid rgb(194, 204, 47); */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
