@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nunito&display=swap");

/* memanggil class di html  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anton", sans-serif;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    }

/* mengatur position relative supaya di bawah satu dimensi box-jumboron */
.jumbotron {
    background-image: url("../../Assets/Xtrapage assets/image_jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 49.7vw;
}

/* Mengatur box-jumbotron, menggunakan position absolut supaya objek di atas jumbotron 1 dimensi */
.box-jumbotron {
    padding-top: 1.56vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24vw;
    background-color: rgba(161, 169, 178, 0.8);
}

.containerlogo .row{ /*BOX LOGO*/
    height: 21vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding-left: 5vw;
    /* border: red solid */
}

.containerlogo .row div{
    flex: 1;
    margin-left: 0;
    margin-right: 0;
}

/* mengatur jumbotron bagian logo BCA */
.box-jumbotron #bca { /*BOX BCA*/
    flex: 1;
    display: flex;
    align-items: center;
    height: 21.8vw;
    /* border: cyan solid; */
}

.box-jumbotron .bca,
.elips {
    width: 100%;
    border-radius: 50%;
    /* border: yellow solid; */
    }

/* ========================= */

/* ======================== */

.box-jumbotron .elips {
    position: relative;
    z-index: 2;
    /* border: purple solid; */
}

.button-elips a { /*Extra Schedule Leader*/
    text-decoration: none;
    color: black;
    padding: 0.52vw 3.125vw;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    padding-left: 17vw;
    padding-right: 5vw;
    border-radius: 0vw 1.3vw 1.3vw 0vw;
    background-color: #d9d9d9;
    font-size: 1.7vw;
    font-weight: bold;
    /* border: blue 1px solid; */
}

.button-elips {
    z-index: 2;
    justify-content: space-around;
    gap: 0.45vw;
    top: 1.04vw;
    height: 70%;
    left: 2vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2.6vw;
    /* border: green solid; */
}

/* ================================================================ */
/* .JudulXtra
{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.52vw 3.125vw;
    padding-top: 0.74vw;
    padding-bottom: 0.74vw;
    padding-left: 13vw;
    padding-right: 7vw;
    width: 30vw;
    border-radius: 0vw 1.3vw 1.3vw 0vw;
    background-color: #1B2F45;
    font-size: 30px;
    font-weight: 900;
    visibility: hidden;
}

.ScheduleXtra
{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.52vw 3.125vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    padding-left: 18vw;
    padding-right: 1vw;
    width: 45vw;
    border-radius: 0vw 1.3vw 1.3vw 0vw;
    background-color: #1B2F45;
    font-size: 30px;
    font-weight: 900;
    visibility: hidden;
}

.LeaderXtra
{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.52vw 3.125vw;
    padding-top: 0.74vw;
    padding-bottom: 0.74vw;
    padding-left: 18vw;
    padding-right: 1vw;
    width: 45vw;
    border-radius: 0vw 1.3vw 1.3vw 0vw;
    background-color: #1B2F45;
    font-size: 30px;
    font-weight: 900;
    visibility: hidden;
} */
/* ================================================================ */

.button-make-advance a { /*Make Attendace dan Add Schedule*/
    background-color: #395474;
    color: white;
    border-radius: 1.8vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
    margin-top: -2.6vw;
    margin-left: 1.5vw;
    font-size: 1.6vw;
}

.button-make-advance a:hover { /*Make Attendace dan Add Schedule*/
    background-color: #1B2F45;
    color: white;
}

.containertengah{
    height: auto;
    margin-left: 2.2vw;
    margin-right: 2.2vw;
    margin-bottom: 0vw !important;
    /* border: red solid */
}

/* untuk Description, Documentation, dan Member */
main .nav {
    width: 94.4vw;
    border: none;
    /* border: red solid; */
}

main .nav-item { /*non-active*/
    background-color: #395474;
    color: white;
    border-top-left-radius: 1.8vw;
    border-top-right-radius: 1.8vw;
    border: none;
    /* padding-left: 3.5vw; */
    /* padding-right: 3.5vw; */
    font-size: 1.45vw;
    height: 4.4vw;
    width: 18vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: yellow solid; */
}

main .nav-item:hover { /*non-active*/
    background-color: #C1D5ED;
    /* color:  #395474; */
    /* border: green solid; */
}

main .nav-item a {
    color: rgb(255, 255, 255);
    width: 18vw;
    text-align: center;
    justify-content: center;
    /* border: orange solid; */
    /* margin-left: 5vw; */
}

main .nav-item a:hover {
    color: #395474;
    border: none;
}

.nav-link.active {
    background-color: red;
}

.nav-item .nav-link.active { /*active*/
    background-color: #1b2f45;
    color: rgb(255, 255, 255);
    border-top-left-radius: 1.8vw;
    border-top-right-radius: 1.8vw;
    border: none;
    height: 5.75vw;
    position: absolute;
    width: 18vw;
    text-align: center;
    /* padding-left: 3.5vw;
    padding-right: 3.5vw; */
    font-size: 1.45vw;
    margin-left: -3.5vw;
    margin-right: -3.5vw;
    padding-top: 1.4vw !important;
    margin-bottom: 1vw;
    /* border: cyan solid; */
}

@media only screen and (max-width: 600px) {
    main .nav-item a {
        margin-top: 0.7vw;
    }

    .nav-item .nav-link.active { /*active*/
        height: 6vw;
        margin-bottom: 1vw;
    }
}

main .tab-content { /*kotak dari 3 segment*/
    border-bottom-left-radius: 3vw;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    background-color: #1b2f45;
    width: 100%;
    height: 100%;
    /* border: red solid; */
}
main .tab-content .tab-pane { /*kotak dari 3 segment*/
    padding-top: 3.8vw;
    padding-left: 5.1vw;
    padding-right: 5.1vw;
    padding-bottom: 5.1vw;
    color: white;
    width: 100%;
    height: 100%;
    /* border: cyan solid; */
}


/* untuk Description, Documentation, dan Member */

.KotakForm{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    /* border: green solid; */
}

.KotakForm #KotakDesc{
    margin-bottom: 0vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /* border: red solid; */
}

.KotakForm #KotakAct{
    margin-bottom: 0vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /* border: yellow solid; */
}

main .form-group textarea,
input {
    background-color: #d9d9d9;
    border-radius: 1.04vw;
    padding: 1.04vw;
    height: 10vw;
    /* width: 76.57vw; */
    /* border: red solid; */
}

main .card {
    border: none;
    background-color: transparent;
    /* border: red solid; */
}

/* Member */

.luarcard{
    width: 40vw;
    height: 27vw;
    margin-top: 0.3vw;
    background-color: #d9d9d9;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: yellow solid; */
}

main #contact .card { /*Kotak Member List*/
    padding-left: 4vw;
    padding-right: 3.5vw;
    background-color: #d9d9d9;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    height: 19.3vw;
    width: 40vw;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4vw;
    /* border: purple solid; */
}

.main #contact .card::-webkit-scrollbar {
    display: none !important;
    width: 0;
  }

main #contact .card .badge { /*isi Member List*/
    margin-top: 0.52vw;
    font-size: 1.5vw;
    font-weight: 500;

    border-radius: 1.5625vw;
    background-color: #395474;
    width: 31vw;
    /* border: red solid; */
}

main #contact .card .badge ::-webkit-scrollbar{
    display: none;
}

main #contact img { /*gambar stop*/
    width: 25vw;
    height: 30vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8.8vw;
    /* border: purple solid; */
}


main #contact .btn-member { /*Kotak dari Button Leave Xtra*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 25vw;
    margin-left: 10vw;
    /* border: red solid; */
}

main #contact .btn-member button { /*Button Leave Xtra*/
    width: 25vw;
    height: 7vw;
    border: 0;
    background-color: #d9d9d9;
    font-size: 2.2vw;
    font-weight: 800;
    border-radius: 1.56vw;
    /* border: red solid; */
}

main #contact .btn-member button:hover {
    background-color: rgb(2, 133, 209);
    /* color: wheat; */
}

main #contact .modal {
    border-radius: 1.04vw;
    border: 0.3125 solid black;
}

/* mengatur tombol di modal  */
.btn-yes-or-close {
    margin-top: 1.04vw;
}
.btn-yes-or-close a {
    padding: 0.36vw 2.6vw;
}

.btn-yes-or-close button {
    padding: 0.36vw 2.6vw;
}

main .presence {
    margin: 0;
    margin-top: 100px;
    /* border: red solid; */
}

.containerbawah{
    margin-top: 5vw;
    margin-left: 2.2vw;
    margin-right: 2.2vw;
    /* border: purple solid; */
}

.TulisanPresenceMember{
    font-size: 1.4vw;
    font-weight: 600;
    margin-left: 77vw;
    margin-top: 1vw;
    margin-bottom: -3.8vw;
    width: 15vw;
    /* border: red solid; */
}

/*Responsive TPM di ukuran*/
@media only screen and (max-width: 700px) { /*300%*/
    .TulisanPresenceMember{
        margin-bottom: -4vw;
    }
}

@media only screen and (max-width: 600px) { /*400%*/
    .TulisanPresenceMember{
        margin-bottom: -4.9vw;
    }
}

@media only screen and (max-width: 400px) { /*500%*/
    .TulisanPresenceMember{
        margin-bottom: -5.7vw;
    }
}

main .presence-list { /*kotak Presence Member List*/
    width: 100%;
    height: 20.833vw;
    background-color: #1b2f45;
    color: white;
    border-top-right-radius: 1.04vw;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: cyan solid; */
}

.kotakisiPME{ /*untuk atur GAP isi PME*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72vw;
    gap: 1vw;
    /* border: purple solid; */
}

.luarPML{
    background-color: #1b2f45;
    display: flex;
    flex-direction: column;
    height: 25.5vw;
    width: 100%;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    margin-bottom: 2.5vw;
    /* border: yellow solid; */
}

main .presence .badge { /*isi presence list*/
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;
    border-radius: 1.15vw;
    padding: 0.5vw;
    color: black;
    background-color: #e5e5e5;
    width: 36vw;
    /* border: red solid; */
}

main .presence-list { /*Presence Member List buat atur height*/
    overflow-y: scroll;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    height: 25vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    margin-bottom: 0vw;
    height: 20.8vw;
    /* border: cyan solid; */
}

main .presence-list::-webkit-scrollbar { /*Presence List Member*/
    display: none;
}

/*===============================================================*/

.dropbtn {
    background-color: #1b2f45;
    color: white;
    padding: 0.833vw;
    font-size: 1.45vw;
    border: none;
    cursor: pointer;
    border-top-left-radius: 1.8vw;
    border-top-right-radius: 1.8vw;
    width: 15vw;
    height: 4.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: red solid; */
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #1b2f45;
}

.dropdown {
    position: relative;
    display: inline-block;
    /* border: yellow solid; */
}

.dropdown-content {
    width: 12vw;
    height: 16.5vw;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 18vw;
    overflow: auto;
    box-shadow: 0vw 0.417vw 0.833vw 0vw rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: scroll;
    /* border: cyan solid; */
}

.dropdown-content::-webkit-scrollbar{
    display: none;
}

.dropdown-content a {
    font-weight: bold;
    font-size: 1.3vw;
    height: 3.5vw;
    border: 1px solid black;
    color: black;
    padding: 0.625vw 0.833vw;
    text-decoration: none;
    display: block;
    /* border: green solid; */
}

  .dropdown a:hover {background-color: #ddd;}

  .show {display: block;}

/*===============================================================*/

/* mengatur warna inputan dan radius */
.form_add input {
    background-color: #d9d9d9;
    border-radius: 1.04vw;
    padding: 1.04vw;
    height: 3.3vw;
    width: 32vw;
    /* border: cyan solid; */
}

.form_add label {
    color: white;
    width: 15vw;
    /* border: cyan solid; */
}

/* mengatur tombol konfirmasi */
.form_add #btn-confirm {
    padding: 0.52vw 2.083vw;
    font-weight: bold;
    font-size: 1.7vw;
    background-color: #d9d9d9;
    border-radius: 1vw;
    margin-top: 1vw;
    margin-left: 6vw;
}

/* membuat animasi ketika cursor di atas objek  */
.form_add #btn-confirm:hover {
    background-color: #56B8E6;
}

/* bagian persentasi.html */

section {
     margin: 0;
}
section .row {
     height: 100vh;
}

section img {
    width: 100%;
    height: 100vh;
    position: relative;
}

section .btn_close a {
    color: black;
    width: 1.5625vw;
    height: 1.5625vw;
    border-radius: 100%;
    border: 2px solid black;
    top: 1.04vw;
    left: 5.2vw;
    font-size: 1.04vw;
    z-index: 999;
    position: absolute;
}

section .fa-sharp {
    margin-top: 0.1vw;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
}

section .btn_close:hover {
    background-color: black;
    color: white;
}

section .blank {
    padding: 1.04vw;
    width: 100vh;
    height: 100vh;
    background-color: #000000;
}

section p {
    color: white;
}
