.segment{
    width: 100%;
    height: 55.5vw;
}

#segmentTitle{
    width: 25%;
    height: 5vw;
    margin-top: 8vw;
    background-color: #49596A;
    transition-duration: 300ms;
}

.segment:hover > #segmentTitle {width: 50%; background-color: #1B2F45;}
