.bigcontainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 90%;
    background-color: #a1a9b2;
    border-radius: 1vw;
}

.headercontainer {
    width: 90%;
    height: 10vw;
}

.rowcontainer {
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.xtraboxcontainer {
    cursor: pointer;
    width: 36vw;
    height: 20vw;
    background-color: white;
    margin: 2vw;
    border-radius: 1.375vw;
    border-width: 0.2vw;
    border-color: black;
}

.xtraboxcontainer:hover {
    background-color: #395474;
    color: white;
}

.xtrabox {
    width: 15vw;
    height: 15vw;
}

.xtrabox img {
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
}

.modal {
    display: none;
    position: fixed;
    margin-left: 24vw;
    margin-top: 9vw;
    background-color: white;
    width: 48vw;
    height: 28vw;
    border-color: #1b2f45;
    border-width: 0.25vw;
    border-radius: 2vw;
}

.svg {
    height: 3vw;
    width: 3vw;
}

.no-outline:focus {
    outline: none;
}

input[type="checkbox"] {
    width: 2vw;
    height: 2vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    border-radius: 0.2vw;
}

input[type="checkbox"]:checked {
    width: 2vw;
    height: 2vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    border-radius: 0.2vw;
}

/* MODAL */
/* ====================The Modal for Tempat Sampah==================== */
.modalsampah {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 15vw; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    z-index: 50;
}

/* Modal Content */
.modal-contentsampah {
    background-color: #fefefe;
    margin: auto;
    padding: 1.1vw 2vw 1.1vw 2vw;
    border: 0.052vw solid #888;
    /* width: 80%; */
    height: 15vw;
    width: 39.8vw;
    border-radius: 1.8vw;
    border: #1b2f45 0.2vw solid;
}

.kotakisimodal {
    display: flex;
    flex-direction: column;
    /* border: cyan solid; */
}

.boxjudulclosesampah {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 2.1vw;
}

.judulmodal {
    flex: 5;
    font-size: 1.5vw;
}

.isisampah {
    display: flex;
    flex-direction: column;
    gap: 0.15vw;
    height: 4.5vw;
}

.kalimatsampah1 {
    font-size: 1.6vw;
    font-weight: 600;
}

.kalimatsampah2 {
    font-size: 1.6vw;
    font-weight: 600;
}

.boxsubmitsampah {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 2.5vw;
    gap: 2vw;
    /* border: yellow solid; */
}

.btnyesmodal {
    font-size: 1.2vw;
    height: 2.4vw;
    width: 11vw;
    border-radius: 0.2vw;
    color: white;
    border: none;
    background-color: #398e20;
}

.btnyesmodal:hover {
    font-weight: 700;
    color: white;
    background-color: #155003;
}

.delConfirm{
    display: flex;
    flex-direction: row;
    /* border: red solid; */
}

.btncancelmodal {
    font-size: 1.2vw;
    height: 2.4vw;
    width: 11vw;
    border-radius: 0.2vw;
    color: black;
    border: none;
    background-color: #ff0000;
}

.btncancelmodal:hover {
    font-weight: 700;
    color: white;
    background-color: #6d0000;
}

.closesampah {
    color: #aaaaaa;
    float: right;
    font-size: 2.8vw;
    color: #000;
    font-weight: bold;
}

.closesampah:hover,
.close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}
