.topcontainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 11vw;
}

.signuplogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
    width: 11.5vw;
    height: 3.1vw;
    background-color: #D3F1FF;
    border-radius: 3vw;
}

.signup{
    display: flex;
    width: 5vw;
    height: 2.7vw;
    justify-content: center;
    align-items: center;
    margin-left: 0.2vw;
    border-radius: 3vw;
    color: black;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.2vw;
    width: 6.4vw;
    height: 2.7vw;
    background-color: #1B2F45;
    border-radius: 3vw;
    color: white;
    margin-right: 0.2vw;
}

.logincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 57vw;
    height: 31vw;
    background-color: #395474;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 37vw;
    height: 11vw;
}

::-webkit-input-placeholder{
    font-style: italic;
}


.fieldbox{
    display: flex;
    width: 100%;
    background-color: #1B2F45;
    height: 3.5vw;
    border-radius: 1vw;
}

.buttonlogin{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.buttonlogin .login1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:12vw;
    height:2.6vw;
    background-color: #1B2F45;
}

.login1:hover{
    background-color: black;
}

.signnav{
    color: #56B8E6;
}

.no-outline:focus {
    outline: none;
}

.back{
    fill: none;
    stroke: currentColor;
    stroke-width: 20px;
}

.back:hover{
    stroke: #D3F1FF;
    stroke-width: 20px;
}

#select-box{
    height:40px;
    overflow-y:auto;
      width:50px;
  }
  option{
    overflow-y:scroll;
  }

 #xtrareg select{
    -moz-appearance:  calc(100% - 12vw); /* Firefox */
    -webkit-appearance: calc(100% - 12vw); /* Safari and Chrome */
    appearance: calc(100% - 12vw);
    font-size: 1vw;
    padding: 0vw;
    text-indent: 0vw;
  }

  .input {
    /* Reset. */
    border: unset;

    /* Style */
    width: 100%;
    padding: 0.1vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.1);

    /* Arrow */
    appearance: calc(100% - 12vw);
    /* background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto; */
  }
