.topcontainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 11vw;
}

.signuplogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
    width: 13vw;
    height: 3vw;
    background-color: #D3F1FF;
    border-radius: 3vw;
}

.signup{
    display: flex;
    width: 6.5vw;
    height: 2.7vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    margin-left: 0.1vw;
    border-radius: 3vw;
}

.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0.2vw;
    width: 6.4vw;
    height: 2.7vw;
    background-color: #56B8E6;
    border-radius: 3vw;
    font-size: 1.5vw;
    color: white;
    margin-right: 0.1vw;
}

.signuplogin:hover > .login{background-color: #D3F1FF; color: black;}
.signuplogin:hover > .signup{background-color: #56B8E6; color: white;}


.logincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 57vw;
    height: 31vw;
    background-color: #395474;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 37vw;
    height: 11vw;
}


.fieldbox{
    display: flex;
    width: 100%;
    background-color: #1B2F45;
    height: 3.5vw;
    border-radius: 0.5vw;
}

.buttonlogin{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.buttonlogin .login1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:12vw;
    height:3vw;
    background-color: #1B2F45;
}

.login1:hover{
    background-color: black;
}

.signnav{
    color: black;
}

.signnav:hover{
    color:yellow;
}

.no-outline:focus {
    outline: none;
}
